# Mercado Pago
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=

# Ambiente (production/develop)
NODE_ENV=

#URLs
FRONTEND_URL=https://cursos.lojanovamix.com.br
BACKEND_URL=https://cursos.lojanovamix.com.br

#Auth
JWT_SECRET=
ADMIN_SEED_SENHA=
