@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-white: #ffffff;
    --color-gray: #F5F5F5;
    --color-gray-dark: #354856;
    --color-orange-light: #FF8D0A;
    --color-orange-base: #EA8006;
    --color-blue-base: #243785;
    --color-yellow-base: #FFE700;
}