@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-white: #ffffff;
    --color-gray: #F5F5F5;
    --color-gray-dark: #354856;
    --color-gray-base: #1E8581;
    --color-gray-text: #33363F;
    --color-orange-light: #FF8D0A;
    --color-orange-base: #EA8006;
    --color-blue-base: #243785;
    --color-yellow-base: #FFE700;
    --color-red-light: #F72B2A;
    --color-red-base: #DF0406;
}